
<div class="cadastrar_class">
  <h3 id="cadastrar_titulo">Cadastrar usuário</h3>
  <form class="form_cadastrar">
    <mat-form-field class="form_field_cadastro">
      <input matInput placeholder="Usuário">
    </mat-form-field>

    <mat-form-field class="form_field_cadastro">
      <input matInput placeholder="Senha">
    </mat-form-field>

    <mat-form-field class="form_field_cadastro">
      <input matInput placeholder="E-mail">
    </mat-form-field>

  </form>
  <button mat-raised-button color="primary" id="button_cadastrar">Cadastrar</button>
  <button mat-raised-button color="primary" id="button_cancelar">Cancelar</button>
</div>