#cadastrar_titulo_produto {
    text-align: center;
    margin-bottom: 0px; 
    margin-top:50px;
    font-size: 35px;
    color: rgb(105, 113, 122);
  }
    
    .form_field_cadastro_produto {
      width: 100%;
      margin-top:10px;
      margin-bottom: 0px;
      left: 40px;
    }

    .form_field_cadastro_produto_direito {
      width: 100%;
      margin-top:10px;
      right: 40px;
    }
  
    .cadastrar_class {
      width: 550px;
      height: 450px;
      position: relative;
      top: 50px;
      margin-top: 50px;
      margin-left:auto;
      margin-right: auto;
      background: rgba(244, 255, 253, 0.973);
      border: 2px solid #6C7A89;
      border-radius: 5px;
  }

  #formulario_cadastrar_produto {
    width: 550px;
    height: 300px;
  }

  .form_cadastrar_produto {
      width: 40%;
      float: left;
    }
  
    .form_cadastrar_produto_direito {
      width: 40%;
      float: right;
    }

    #button_cadastrar_produto {
      margin-top:0px;
      position: relative;
      left: 100px;
    }
  
    #button_cancelar_produto {
      margin-top:0px;
      float:right;
      right: 100px;
    }

