
<div class="login_class">
  <h3 id="login_titulo">Login</h3>
  <form class="form_login">
    <mat-form-field class="form_field_login">
      <input matInput placeholder="Usuário">
    </mat-form-field>

    <mat-form-field class="form_field_login">
      <input matInput placeholder="Senha">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" id="button_login" (click)="redirectTo('tela_principal')">Acessar</button>
  <button mat-raised-button color="primary" id="button_cadastrar_usuario">Cadastrar</button>
</div>